<div ng-include src="'partials/adminheader.html'"></div>
<div class="container login-container">
    <div class="panel">
        <div class="panel-body">
            <div ng-if="messages.error" role="alert" class="alert alert-danger">
                <div ng-repeat="error in messages.error">{{error.msg}}</div>
            </div>
            <form ng-submit="login()">
                <legend>Admin Log In</legend>
                <div class="form-group">
                    <label for="username">username</label>
                    <input type="text" name="username" id="username" placeholder="Username" class="form-control" ng-model="admin.username" autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" class="form-control" ng-model="admin.password">
                </div>
                <div class="form-group"><a href="/forgot"><strong>Forgot your password?</strong></a></div>
                <button type="submit" class="btn btn-success">Log in</button>
            </form>
            <!-- <div class="hr-title"><span>or</span></div>
            <p class="text-center">
                Don't have an account? <a href="/signup"><strong>Sign up</strong></a>
            </p> -->
            <div class="hr-title"><span>or</span></div>
            <p class="text-center">
                Login as <a href="/"><strong> User</strong></a>
            </p>
            <div class="btn-toolbar text-center">
            </div>
        </div>
    </div>

</div>