<div id="createModal" class="modal fixed" style="overflow-x:hidden" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="createModal.hide()">&times;</button >
				<h4 class="modal-title" >Create Task</h4 >
			</div >
			<div class="modal-body" >
				<form  name="createForm" ng-submit="createForm.$valid && createTask()"
				      class="form-horizontal"
				      novalidate >
					<ng-include src="'partials/form.html'" ></ng-include >
				</form >
			</div >
		</div >

	</div >
</div >