<div class="container">
    <div class=" form-group">
        <label class="col-sm-1 control-label">Subject</label >
	<div class="col-sm-5" >
		<input type="text"
		       class="form-control"
		       name="subject"
		       ng-model="task.selectedTask.subject"
		       ng-disabled="true"/>
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-1 control-label" >Details</label >
	<div class="col-sm-5" >
		<input type="text"
		       name="body"
		       class="form-control"
		       ng-model="task.selectedTask.body "
		       ng-disabled="true" />
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-1 control-label" >Deadline</label >
	<div class="col-sm-5" >
		<input type="text"
		       class="form-control"
		       name="deadlineDate"
			   ng-model="task.selectedTask.deadlineDate"
					  ng-disabled="true" 
				/>
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-1 control-label" >Priority</label >
	<div class="col-sm-5" >

        <input type="number"
        min="1" max="5"
		       class="form-control"
		       name="priority"
			   ng-model="task.selectedTask.priority"
					   ng-disabled="true"
				/>
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-1 control-label" >Status</label >
	<div class="col-sm-5" >
		<select name="status"
		        class="form-control"
		        ng-model="task.selectedTask.status"
		        id=" " >
			<option value="working" >working</option >
            <option value="pending" >pending</option >
            <option value="completed" >completed</option >
		</select >
	</div >

</div >
<div class="form-group " >
	<label class="col-sm-1 control-label" >Rating</label >
	<div class="col-sm-5" >
        <input type="number"
        min="1" max="5"
		       class="form-control "
		       name="rating "
			   ng-model="task.selectedTask.rating"
					   
				/>
	</div >

</div >
<div class="form-group" >
	<label class="col-sm-1 control-label" >Remarks</label >
	<div class="col-sm-5" >
		<textarea name="remark" class="form-control" ng-model="task.selectedTask.remarks">Enter remark here...</textarea>
	</div >

</div >
<div class="form-group" >
	<label class="col-sm-1 control-label" >Documents</label >
	<div class="col-sm-5" >
		<input type="text"
		       name="documentLink"
		       class="form-control"
			   ng-model="task.selectedTask.documentLink" 
				  
			   />
	</div >
</div >
<div class="buttons " >
    <div class="col-sm-3 col-sm-offset-1" >
	<button class="btn btn-success btn-block "
	        ladda="task.isSaving "
            type="submit"
                    ng-disabled="updateForm.$invalid" >Save
    </button >
    </div>
</div >
</div>